// Form validation
// ==========================================================================

// Using the classname .error as it's shorter than .validation and easier to type!
.error {

  // Ensure the .error class is applied to .form-group, otherwide box-sizing(border-box) will need to be used
  // @include box-sizing(border-box);
  margin-right: 15px;

  // Error messages should be red and bold
  .error-message {
    color: white;
    font-weight: bold;
  }

  // Form inputs should have a red border
  .form-control {
    border: 4px solid $error-colour;
  }

  .form-hint {
    margin-bottom: 0;
  }

}

.error,
.error-summary {
  background-color: $pink;
  padding-left: 10px;

  @include media(tablet) {
    padding-left: $gutter-half;
  }
}

.error-message {
  @include body-font;
  color: white;

  display: block;
  clear: both;

  margin: 0;
  padding: 5px 0 7px 0;
}

// Summary of multiple error messages
.error-summary {
  background-color: $pink;

  margin: $gutter-half 0;

  padding: $gutter-half 10px;

  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter;

    padding: 20px $gutter-half $gutter-half $gutter-half;
  }

  @include ie-lte(6) {
    zoom: 1;
  }

  .error-summary-heading {
    margin-top: 0;
  }

  h2 {
    @extend %nimbus-bold;
    margin: 0 0 $gutter 0;

    font-size: 30px;
    color: white;
    text-transform: none;
    font-style: normal;
  }

  p {
    color: white;
    margin-bottom: 10px;
  }

  a {
    color: white;
  }

  .error-summary-list {
    padding-left: 0;

    li {

      @include media(tablet) {
        margin-bottom: 5px;
      }
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
