/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// GOV.UK front end toolkit
// Sass variables, mixins and functions
// https://github.com/alphagov/govuk_frontend_toolkit/tree/master/stylesheets

// Settings (variables)
@import "toolkit/colours";                                // Colour variables
@import "toolkit/measurements";                           // Widths and gutter variables

// Mixins
@import "toolkit/conditionals";                           // Media query mixin
@import "toolkit/device-pixels";                          // Retina image mixin
@import "toolkit/grid_layout";                            // Basic grid layout mixin
@import "toolkit/typography";                             // Core bold and heading mixins, also external links
@import "toolkit/shims";                                  // Inline block mixin, clearfix placeholder

// Forms
@import "toolkit/design-patterns/buttons";
@import "forms";
@import "form-block-labels";
@import "form-validation";

body {
  background-color: $blue-10;
}

#header {
  @extend %contain-floats;

  &>div {
    @include media(tablet) {
      width: 600px;
      float: right;
    }
  }

  h1 {
    @extend %tablet-thin-oblique;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: $purple;

    margin: 0;
    border: 0;

    @include media(tablet) {
      font-size: 60px;
    }
  }

  h2 {
    @extend %tablet-thin-oblique;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: $pink;

    margin: 0;

    @include media(tablet) {
      font-size: 40px;
    }
  }

  p {

  }
}

#navigation {
  margin: $gutter auto $gutter auto;
  border: 1px solid $pink-70;
  border-width: 1px 0;

  @include media(tablet) {
    margin-bottom: ($gutter*2);
  }

  ul {
    @include flexbox();
    justify-content: space-between;
    flex-flow: row wrap;

    li {
      @extend %tablet-thin-oblique;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;

      flex-grow: 1;

      margin-right: 10px;
      margin-left: 10px;
      position:relative;

      &:first-child {margin-left:0;}
      &:last-child {margin-right:0;
        &:after {content:none;}
      }
      &:after {
        content:"*";
        position:absolute;
        width: 20px;
        right: -20px;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $purple;
        }
      }

      &.active a {
        color: $purple;
      }

      @include media(tablet) {
        font-size: 30px;
        margin-left: 24px;
        margin-right: 24px;

        &:after {
          width: 48px;
          right: -48px;
        }
      }
    }
  }
}

#wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

#content {
  margin: 0 $gutter ($gutter*2) $gutter;
  @extend %contain-floats;
}

section {
  max-width: 600px;
  float: right;
}

#map {
  width: 100%;
  height: 500px;
}

.js-enabled .js-hidden { display: none; }
