$pink: #ff69bc;
$pink-10: tint($pink, 90%);
$pink-20: tint($pink, 80%);
$pink-30: tint($pink, 70%);
$pink-40: tint($pink, 60%);
$pink-50: tint($pink, 50%);
$pink-60: tint($pink, 40%);
$pink-70: tint($pink, 30%);
$pink-80: tint($pink, 20%);
$pink-90: tint($pink, 10%);

$blue: #445589;
$blue-10: #ecedf3;
$blue-20: #d8dae6;
$blue-30: #c4c7d9;
$blue-40: #b3b8ce;
$blue-50: #9fa5c1;
$blue-60: #8d95b5;
$blue-70: #7c85ab;
$blue-80: #6a749e;
$blue-90: #586493;

$purple: #351b5d;

// Semantic colour names
$link-colour: $pink;
$link-active-colour: $pink-20;
$link-hover-colour: $pink-80;
$link-visited-colour: $pink;
$text-colour: $blue;
$secondary-text-colour: $purple;
$page-colour: $blue-10;
$error-colour: red;
$error-background: red;
