@import 'conditionals';
@import 'device-pixels';
@import 'url-helpers';

//  GOV.UK typography palettes

//  ANATOMY OF A TYPE STYLE
//  -----------------------
//  These are a collection of graphic styles. They are deliberately
//  abstracted from semantic HTML context to enable flexible re-use.
//  Although there is a lot of duplication within this file, as long
//  as you GZIP your CSS it shouldnt cause any bloat.

$is-print: false !default;

%nimbus-reg {
  font-family: "nimbus-sans-extended";
  font-weight: 400;
}

%nimbus-bold {
  font-family: "nimbus-sans-extended";
  font-weight: 700;
}

%soleil-book {
  font-family: "soleil";
  font-weight: 400;
}

%soleil-extra-bold {
  font-family: "soleil";
  font-weight: 900;
}

%tablet-thin-oblique {
  font-family: "tablet-gothic-condensed";
  font-weight: 200;
  font-style: italic;
}

%tablet-bold-oblique {
  font-family: "tablet-gothic-condensed";
  font-weight: 700;
  font-style: italic;
}

@mixin body-font() {
  @extend %nimbus-reg;
  font-size: 16px;
  line-height: (25 / 16);

  @include media(tablet) {
    font-size: 20px;
    line-height: (30 / 19);
  }
}

body {
  @include body-font;
  color: $text-colour;
}

p {
  margin-bottom: 1em;
}

a {
  &:link {
    color: $link-colour;
  }

  &:active {
    color: $link-active-colour;
  }

  &:hover {
    color: $link-hover-colour;
  }

  &:visited {
    color: $link-visited-colour;
  }
}

h1 {
  @extend %tablet-bold-oblique;
  font-size: 48px;
  color: $pink;
  text-transform: uppercase;
}

h2 {
  @extend %tablet-thin-oblique;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: $pink;

  margin: $gutter 0 (-$gutter) 0;

  mix-blend-mode: multiply;
  z-order: 100;

  @include media($min-width: 705px) {
    margin-left: -75px;
  }
}

p + h2 {
  margin-bottom: 0;
}

h3 {
  @extend %nimbus-bold;
  color: $purple;
  font-size: 24px;

  &:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid $purple;
    margin: -4px 0 8px 0;
  }
}

p + h3 {
  margin-top: $gutter;
}

h4 {
  @extend %nimbus-bold;
  color: $purple;
}

