/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* line 46, ../sass/toolkit/_shims.scss */
#content:after {
  content: "";
  display: block;
  clear: both;
}

/* line 16, ../sass/toolkit/_typography.scss */
body {
  font-family: "nimbus-sans-extended";
  font-weight: 400;
}

/* line 21, ../sass/toolkit/_typography.scss */
h3, h4 {
  font-family: "nimbus-sans-extended";
  font-weight: 700;
}

/* line 36, ../sass/toolkit/_typography.scss */
h2, #header h1, #header h2, #navigation ul li {
  font-family: "tablet-gothic-condensed";
  font-weight: 200;
  font-style: italic;
}

/* line 42, ../sass/toolkit/_typography.scss */
h1 {
  font-family: "tablet-gothic-condensed";
  font-weight: 700;
  font-style: italic;
}

/* line 59, ../sass/toolkit/_typography.scss */
body {
  font-size: 16px;
  line-height: 1.5625;
  color: #445589;
}
@media (min-width: 641px) {
  /* line 59, ../sass/toolkit/_typography.scss */
  body {
    font-size: 20px;
    line-height: 1.57895;
  }
}

/* line 64, ../sass/toolkit/_typography.scss */
p {
  margin-bottom: 1em;
}

/* line 69, ../sass/toolkit/_typography.scss */
a:link {
  color: #ff69bc;
}
/* line 73, ../sass/toolkit/_typography.scss */
a:active {
  color: #ffe1f1;
}
/* line 77, ../sass/toolkit/_typography.scss */
a:hover {
  color: #ff87c9;
}
/* line 81, ../sass/toolkit/_typography.scss */
a:visited {
  color: #ff69bc;
}

/* line 86, ../sass/toolkit/_typography.scss */
h1 {
  font-size: 48px;
  color: #ff69bc;
  text-transform: uppercase;
}

/* line 93, ../sass/toolkit/_typography.scss */
h2 {
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: #ff69bc;
  margin: 30px 0 -30px 0;
  z-index: 100;
}
@media (min-width: 705px) {
  /* line 93, ../sass/toolkit/_typography.scss */
  h2 {
    margin-left: -75px;
  }
}

/* line 110, ../sass/toolkit/_typography.scss */
p + h2 {
  margin-bottom: 0;
}

/* line 114, ../sass/toolkit/_typography.scss */
h3 {
  color: #351b5d;
  font-size: 24px;
}
/* line 119, ../sass/toolkit/_typography.scss */
h3:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid #351b5d;
  margin: -4px 0 8px 0;
}

/* line 128, ../sass/toolkit/_typography.scss */
p + h3 {
  margin-top: 30px;
}

/* line 132, ../sass/toolkit/_typography.scss */
h4 {
  color: #351b5d;
}

/* line 23, ../sass/screen.scss */
body {
  background-color: #ecedf3;
}

/* line 28, ../sass/screen.scss */
#header h1 {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #445589;
  margin: 0;
}
/* line 38, ../sass/screen.scss */
#header h2 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #ff69bc;
  margin: 0;
}

/* line 53, ../sass/screen.scss */
#navigation {
  margin: 30px auto 60px auto;
  border: 1px solid #ff96d0;
  border-width: 1px 0;
}
/* line 58, ../sass/screen.scss */
#navigation ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
/* line 63, ../sass/screen.scss */
#navigation ul li {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  flex-grow: 1;
  margin-right: 24px;
  margin-left: 24px;
  position: relative;
}
/* line 76, ../sass/screen.scss */
#navigation ul li:first-child {
  margin-left: 0;
}
/* line 77, ../sass/screen.scss */
#navigation ul li:last-child {
  margin-right: 0;
}
/* line 78, ../sass/screen.scss */
#navigation ul li:last-child:after {
  content: none;
}
/* line 80, ../sass/screen.scss */
#navigation ul li:after {
  content: "*";
  position: absolute;
  width: 48px;
  right: -48px;
}
/* line 86, ../sass/screen.scss */
#navigation ul li a {
  text-decoration: none;
}
/* line 89, ../sass/screen.scss */
#navigation ul li a:hover {
  color: white;
}

/* line 97, ../sass/screen.scss */
#wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

/* line 102, ../sass/screen.scss */
#content {
  margin: 0 30px;
}

/* line 107, ../sass/screen.scss */
section {
  max-width: 600px;
  float: right;
}

/* line 112, ../sass/screen.scss */
#map {
  width: 100%;
  height: 500px;
}

/*# sourceMappingURL=screen.css.map */
